body {
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
}
header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding: 10px 20px;
    width : 100vw;
    position : fixed;
    z-index: 1000;
    height: 80px;
}
ul{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 100%;
    /* max-width: 1920px; */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.main-nav {
    margin-right:90px;
    margin-bottom: 10px;
}

.logo img{
    display: block;
    margin: 0 auto;
    height: 40px;
    margin-bottom: 10px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: rgba(138, 134, 134, 0.477);
    font-size: 12px;
}
.nav-item{
    position: relative;
}

.sub-nav {
    position: fixed;
    top: 60px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 10px;
    list-style: none;
    z-index: 1000;
    width: 100%;
    flex-wrap: wrap;
}
.sub-nav a{
    text-decoration: none;
    color: rgb(101, 77, 114);
    font-size: 15px;
}
.sub-nav a:hover {
    color: rgb(185, 171, 199);
}
.nav-link{
    font-size: 24px;
    font-weight: 800;
}

.nav-link:hover + .side-menu,
.side-menu:hover {
    display: block;
}

.header-nav {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    animation: delay1s 0.25s 1; animation-direction: alternate;
    animation: delay1s 1s 1; animation-direction: alternate; 
    height: 100px;
}
.header-nav  div {
    min-width: 120px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.side-menu{
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    list-style: none;
    position: absolute;
    display: none;
    animation: delay1s 0.25s 1; animation-direction: alternate;
    background-color: rgba(255, 255, 255, 0.7);
}

.banner {
    margin-top:110px;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: gray;
    position: relative; 
    height: 500px;
}

.carousel {
    position: relative;
    width: 100%;
    height: 500px; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.carousel-controls {
    position: absolute;
    bottom: 10px;
    width: 100%; 
    text-align: center; 
    display: flex;
    justify-content: center;
}

.btn {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 2px;
    background-color: rgba(165, 165, 165, 0.4);
    border-radius: 50%;
    display: inline-block;
    border: none;
}
.bg-gradient-1 {
    background: linear-gradient(
        90deg, 
        rgb(250, 180, 180, 1) 15%, 
        rgb(255, 195, 195, 1) 40%, 
        rgb(255, 195, 195, 1) 50%, 
        rgb(255, 180, 180, 1) 85%,
        rgb(255, 180, 180, 1) 100%
    );
}

.bg-gradient-2 {
    background: linear-gradient(
        90deg, 
        rgb(250, 120, 150, 1) 15%, 
        rgb(254, 166, 167, 1) 40%, 
        rgb(254, 166, 167, 1) 50%, 
        rgb(250, 120, 150, 1) 85%,
        rgb(250, 120, 150, 1) 100%
    );
}

.bg-gradient-3 {
    background: linear-gradient(
        to right, 
        rgb(255, 230, 220, 1) 15%, 
        #ffffff 40%, 
        #ffffff 60%, 
        rgb(255, 230, 220, 1) 85%
    );
}
.bg-gradient-4 {
    background: linear-gradient(90deg, rgb(145, 90, 50, 1)15%,rgb(150, 110, 80, 1) 40% 50%,rgb(145, 90, 50, 1)85% 100%);
}
.btn.active, .btn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.product-grid1 {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.product-grid2 {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.product-grid3 {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
    border: 1px solid #a0a0a0;
    border-radius: 25px;
    box-shadow: 10px 15px 10px #a0a0a0;
    background-color: rgb(255, 255, 255);
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.product-card .product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    padding: 10px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-card:hover .product-info {
    transform: translateY(0);
}

.product-card:hover img {
    transform: scale(1.1);
}
.product-card2 {
    height: 200px; 
    width: 200px;
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px; 
    border-radius: 15px; 
    box-shadow: 5px 7px 5px #ccc; 
    overflow: hidden; 
    position: relative;
}

.product-card2 img {
    max-width: 80%; 
    max-height: 80%;
    height: auto; 
    transition: transform 0.3s ease;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.product-card2:hover img {
    transform: translate(-50%, -50%) scale(1.05); 
}

h2{
    margin-left: 20px;
}
footer {
    background-color: white;
    border-top:1px solid rgb(234, 228, 228);
}
footer .under {
    padding: 30px;
}
footer .bottom-menu{
    display:flex;
    justify-content: center;
    font-size: 12px;
}
footer .bottom-menu span{
    position: relative;
    top:5px;
    right: 1px;
    list-style: none;
}
footer span > a{
    text-decoration:none;
    padding: 30px;
    color: rgb(112, 111, 111);
}
footer .bt-menu {
     margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}
footer .btm{
   color: rgba(0, 0, 0, 0.545);
   text-decoration: none;
   margin-top: 20px;
}
footer .info {
    margin-top: 30px;
    text-align: center;
}
footer .info span {
    margin-right: 20px;
    color: #636262;
    font-size: 12px;
}
footer .company {
    color: #cebbde;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}
.login-modal, .signUp-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.login-content, .signUp-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #ddd;
    width: 30%;
    height: 80%;
    min-width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signUp-content{
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    padding-bottom: 80px;
    border: 1px solid #ccc;
    width: 30%; height: 79%;
    min-height: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



h2 {
    color: #333;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ded9d9;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
    background-image: linear-gradient(to right, #f1b4ee 0%, #8b8fea 100%); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    width: 100%;
    margin: 10px 0;

}
.forgot-link{
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 10px;
}
button[type="submit"]:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}


button[type="button"] {
    background-image: linear-gradient(to right, #c8b1e0 0%, #93b7da 100%); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.log-button, .sign-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    margin-top: 20px; 
   }
#signUpbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}
.keep-txt{
    font-size: 12px;
    margin-right: 90px;
}

button[type="button"]:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}
.log-password{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
}

.log-password > a{
    text-decoration:none;
    color: #6f6b6b;
    text-align: center;
}

.log-password > p{
    width: 97px;
    margin-top:10px;
    text-align: center;
    color: #8b8fea;
}
.out-log{
    margin-left:158px ;
    margin-top: 50px;
}
.out-log a{
text-decoration: none;
}
.out-log div{
    border-radius: 30%}
    
#username{
    z-index: 9999;
}






@keyframes delay1s {
    0% {opacity: 0; transform: translate3d(0, -50px, 0)}
    100% {opacity: 1; transform: none}
}
#perfumes, #glasses, #hot-items {
    scroll-margin-top: 200px;
}
.product-info>p:nth-child(2){
    font-size: 14px;
    font-weight: 100;
}
.product-info>p:nth-child(3){
    font-size: 18px;
    font-weight: 400;
}
#product-name{
    font-size: 24px;
    font-weight: 800;
}
#signUpbtn2{
    width: 100%;
    margin-top: 20px;
}
#naver-login{    width: 100%;
    margin-top: 20px;    background-image: linear-gradient(to right, #84d4bc 0%, #8ecf68 100%); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
    
#kakao-login{    width: 100%;
    margin-top: 20px;    background-image: linear-gradient(to right, #d6e488 0%, #e6b779 100%); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
#apple-login{    width: 100%;
    margin-top: 20px;    background-image: linear-gradient(to right, #3a3441 0%, #4f6174 100%); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
    #naver-login:hover{
        transform: scale(1.05);
    }
    #kakao-login:hover{
        transform: scale(1.05);
    }
    #apple-login:hover{
        transform: scale(1.05);
    }